@import "./reset.scss";
@import "./error.scss";

.container {
  max-width: 1350px;
  margin: 0 auto;
}

img {
  object-fit: cover;
}

.header {
  padding: 2rem 0;
  .logo {
    font-size: 3rem;
    font-weight: 600;
  }
  a {
    font-size: 2rem;
    color: #000;
    padding: 0 2rem;
  }
}

.font-primary {
  color: #274c5d;
}

.font-m {
  font-size: 3rem;
}

.section-heading {
  padding: 4rem 0;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
}

.active-btn {
  font-weight: 600;
}
.contacts-container {
  padding: 4rem 2rem;
}
.contact-list {
  padding: 2rem;
}

.contact-list::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.contact-list-item {
  cursor: pointer;
  color: #000;
  padding: 0.2rem 0.5rem;
  .contact-name {
    font-size: 2rem;
  }
  .contact-phone {
    font-size: 2rem;
  }
}

.contact-list-item:hover {
  color: #343434;
}

.align-self-center {
  align-self: center;
}

.message-list-item {
  padding: 1rem 0.5rem;
}

.message-name {
  font-size: 1rem;
  color: #000;
}

.message-phone {
  font-size: 1.2rem;
  color: #000;
}

.message-content {
  font-size: 1.5rem;
}
.message-date {
  @media all and (max-width: 736px) {
    width: 100%;
    text-align: right;
  }
}
.align-self-center {
  align-self: center;
}

.avatar-container {
  font-size: 0;
  img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 1rem;
  }
}

.footer {
  padding: 3rem 0;
  text-align: center;
  .nav {
    a {
      p {
        font-size: 1rem;
        color: #343434;
        padding: 2rem 4rem;
        font-weight: bolder;
      }
    }
  }
  small {
    font-size: 0.6rem;
    text-align: center;
  }
}

.border {
  border: 1px solid black;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.font-reg {
  font-weight: 400;
}

.font-bold {
  font-weight: 600;
}

.w-30 {
  width: 30%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.info-avatar {
  width: 18rem;
  height: 18rem;
  font-size: 0;
  margin-right: 4rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.btn {
  background: transparent;
  padding: 0.8rem 2rem;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-size: 1.3rem;
  text-transform: lowercase;
  border: 1.5px solid #343434;
  color: #343434;
  cursor: pointer;
  margin: 2rem 0;
  @media all and (max-width: 736px) {
    letter-spacing: 1px;
    word-spacing: 2px;
  }
}

.btn:hover {
  background-color: #343434;
  color: #fff;
}

.contact-phone {
  font-size: 4rem;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.form-container {
  padding: 4rem 2rem;
  background-color: #eeeeee;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.43);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate((-50%, -50%));
  form {
    label {
      width: 100%;
      text-align: center;
      padding: 2rem 0;
      font-size: 2rem;
      font-weight: bold;
    }
    .input-container {
      width: 100%;
      text-align: center;
      padding: 2rem 0;

      input[type="text"] {
        width: 30%;
        text-align: center;
        background: transparent;
        border: 2px solid #343434;
        color: #000;
        letter-spacing: 4px;
        padding: 0.8rem 2rem;
        @media all and (max-width: 736px) {
          width: 60%;
        }
      }
    }
    input[type="submit"] {
      background: transparent;
      padding: 0.8rem 2rem;
      letter-spacing: 2px;
      word-spacing: 4px;
      font-size: 1.3rem;
      text-transform: lowercase;
      border: 1.5px solid #343434;
      color: #343434;
      cursor: pointer;
      margin: 2rem 0;
      @media all and (max-width: 736px) {
        letter-spacing: 1px;
        word-spacing: 2px;
      }
    }
    input[type="submit"]:hover {
      background-color: #343434;
      color: #fff;
    }
  }
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  transform: translate3d(2px, 2px, 2px);
  color: #684343;
}

.notification-container {
  padding: 1.5rem;
  width: 24%;
  position: fixed;
  top: 4rem;
  right: 4rem;
  align-items: center;
  color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 23px -10px rgba(46, 46, 46, 1);
  -moz-box-shadow: 0px 0px 23px -10px rgba(46, 46, 46, 1);
  box-shadow: 0px 0px 23px -10px rgba(46, 46, 46, 1);
  div {
    padding: 0 0.5rem;
  }
  @media all and (max-width: 736px) {
    top: 0;
    right: 0;
    width: 100%;
  }
}

.error {
  background-color: rgba(195, 74, 67, 0.8);
}

.success {
  background-color: #62ac62;
}
